/* Generic */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: hidden;
}

.container-fluid {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
}



/* Top Section */
/* Left */
.left-section {
  background-color: #000;
  height: calc(100vh - 80px);
  width: 230px;
  max-width: 230px;
}

/* Navbar */
nav {
  height: 100%;
  background-color: #000;
  padding: 0 20px;
  position: relative;
}

nav img[alt=logo] {
  width: 80%;
  line-height: 80px;
  height: 80px;
}

nav img[alt=logo-small] {
  display: none;
  padding: 5px 0;
  margin: 0 auto;
}

nav a {
  color: #6e6e6e;
  text-decoration: none;
  vertical-align: middle;
  height: fit-content;
}

nav a:hover {
  color: white;
}

nav a:hover path {
  fill: white;
}

nav h3 {
  text-transform: uppercase;
  padding: 10px 0;
}

nav li {
  padding: 7px 0;
  list-style-type: none;
}

nav .home {
  padding-bottom: 10px;
}

nav .home li {
  padding: 5px 0;
}

nav .home li:first-child {
  border-left: 3px solid #adff2f;
  margin-left: -20px;
  padding-left: 17px;
}

nav .home .highlighted {
  color: white; 
}

nav .home svg {
  width: 30px;
  vertical-align: middle;
  padding-right: 5px;
}

nav .playlist {
  text-transform: capitalize;
}

nav .playlist i {
  color: #000;
  padding: 10px;
  background-color: #6e6e6e;
  margin-right: 10px;
}

nav .playlist a:hover i {
  background-color: white;
}

nav .playlist .list-scroll {
  padding-top: 10px;
  overflow-y: auto;
  height: calc(100vh - 435px);
} 

nav .user-section {
  position: absolute;
  bottom: 0;
  background-color: black;
  height: 90px;
  width: 90%;
}

nav .user-section img {
  margin: 10px 0;
  margin-right: 10px;
}

nav .user-section hr {
  margin-right: 20px;
}

nav .user-section a {
  color: #6e6e6e;
  text-decoration: none;
}

nav .user-section a:hover {
  color: white;
}

nav .user-section img[alt=download] {
  width: 20px;
  vertical-align: middle;
  color: #141922;
}

nav .user-section img[alt=profile] {
  width: 30px;
  height: 29px;
  vertical-align: middle;
  background-color: #808080;
  border-radius: 50%;
}


/* Right */
.right-section {
  background-color: #141922;
  height: calc(100vh - 80px);
  width: calc(100% - 230px);
  max-width: calc(100% - 230px);
  overflow-y: auto; 
}

/* Header */
header {
  height: 80px;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  z-index: 1;
  width: calc(100% - 230px);
  max-width: calc(100% - 230px);
}

header a {
  text-decoration: none;
  color: white;
  padding: 10px 50px;
}

header .upgrade-button {
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 10px 0;
  margin: 25px;
  display: inline-block;
}

header .upgrade-button:hover{
  transform: scale(1.1);
}

/* Main */
main {
  margin-top: 80px;
  padding-bottom: 40px;
  padding-left: 20px;
}

main .main-menu {
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
}

main .main-menu a {
  text-decoration: none;
  color: #6e6e6e;
  margin-right: 10px;
  display: inline-block;
  padding-bottom: 40px;
}

main .main-menu a:hover {
  color: white;
}

main .main-menu a:first-child::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 40px;
  padding-top: 2px;
  border-bottom: 2px solid #adff2f;
}

main h2 {
  padding-top: 40px;
}

main h2:first-of-type {
  padding-top: 0;
}

main h4 {
  color: #6e6e6e;
  padding-top: 5px;
}

main img {
  width: 100%;
}

main .image-box {
  position: relative;
}

main .image-box:hover {
  transition: transform 0.5s;
  transform: translate(0, -10px);
}

main .image-box .play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

main .card {
  padding-top: 20px;
  padding-right: 20px;
  text-align: center;
}

main .card a {
  color: white;
}

main .card .image-box:hover .album-image {
  filter: opacity(0.5);
}

main .card .image-box:hover .play-icon {
  visibility: visible;
}

main .card [class=genre] {
  font-weight: 600;
  padding-top: 15px;
}

main .card [class=sub] {
  color: #6e6e6e;
  font-size: 0.8rem;
  padding-top: 5px;
}

main .row:last-child .image-box {
  border-radius: 50%;
  overflow: hidden;
}



/* Bottom Section */
.bottom {
  background-color: #282828;
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
  z-index: 2;
}

.bottom.row {
  flex-wrap: nowrap;
}

/* Footer */
.circle {
  background-color: white;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  vertical-align: top;
  margin-top: -4px;
  margin-left: -6px;
  display: none;
}

.left-footer {
  display: flex;
  align-items: center;
  height: 80px;
  padding-left: 5px;
}

.left-footer a {
  color: #6e6e6e;
  text-decoration: none;
}

.left-footer a:hover {
  color: white;
  text-decoration: underline;
}

.left-footer img {
  width: 50px;
}

.left-footer .artist {
  display: inline-block;
  margin-left: 5px;
}

.left-footer .favorites {
  margin-left: 35px;
}

.left-footer .favorites a {
  padding-left: 7px;
}

.central-footer {
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
}

.central-footer a,
.right-footer a {
  color: white;
  text-decoration: none;
}

.central-footer a .fa-play-circle:hover {
  transform: scale(1.4);
}

.central-footer .player {
  display: flex;
  justify-content: space-around;
  width: 200px;
}

.central-footer .progress {
  width: 70%;
  min-width: 180px;
  display: flex;
}

.central-footer .progress span:first-child {
  padding-right: 10px;
}

.central-footer .progress span:last-child {
  padding-left: 10px;
}

.central-footer .progress a {
  width: 100%;
}

.central-footer .prog-bar {
  height: 5px;
  width: 100%;
  border-radius: 50px;
  background-color: #5a5a5a;
  display: inline-block;
  vertical-align: middle;
}

.central-footer .actual-prog {
  height: 100%;
  width: 20%;
  border-radius: 50px;
  background-color: #c1c1c1;
  display: inline-block;
  vertical-align: top;
}

.right-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding-right: 5px;
  width: 200px;
}

.right-footer .vol-bar {
  height: 5px;
  width: 100px;
  border-radius: 50px;
  background-color: #5a5a5a;
  display: inline-block;
  vertical-align: middle;
}

.right-footer .actual-vol {
  height: 100%;
  width: 20%;
  border-radius: 50px;
  background-color: #c1c1c1;
  display: inline-block;
  vertical-align: top;
}

.volume a:hover .actual-vol,
.progress a:hover .actual-prog {
  background-color: #adff2f;
}

.volume a:hover .circle,
.progress a:hover .circle {
  display: inline-block;
}



/* Mobile */
@media screen and (max-width: 575px) {
  /* Top Section */
  /* Left */
  .left-section {
    width: 50px;
    max-width: 50px;
  }

  nav {
    padding: 0 5px;
  }

  nav img[alt=logo] {
    display: none;
  }

  nav img[alt=logo-small] {
    display: block;
    width: 30px;
  }

  nav .home ul {
    padding-top: 8px;
  }

  nav .home svg {
    display: block;
    margin: 0 auto;
    padding-right: 0;
    width: 28px;
  }

  nav .home span,
  nav .playlist,
  nav .user-section span,
  nav .user-section hr {
    display: none;
  }

  nav .user-section {
    width: auto;
  }

  nav .user-section img[alt=download] {
    display: block;
    margin-left: 8px;
  }

  nav .user-section img[alt=profile] {
    display: block;
    margin-left: 5px;  
  }

  /* Right */
  .right-section,
  header {
    width: calc(100% - 50px);
    max-width: calc(100% - 50px);
  }


  
  /* Bottom Section */
  .left-footer img {
    width: 40px;
  }

  .left-footer .favorites {
    margin-left: 0;
  }
}



/* Extra Mobile */
@media screen and (max-width: 480px) {
  nav .home span,
  nav .playlist,
  nav .user-section span,
  nav .user-section hr,
  nav .user-section a,
  nav img[alt=logo-small],
  .bottom {
    display: none;
  }

  /* Top Section */
  .top.row {
    flex-direction: column-reverse;
  }

  /* Left */
  .left-section {
    width: 100%;
    max-width: 100%;
    height: 80px;
    padding: 0 20px;
  }

  nav {
    display: flex;
    align-items: center;
  }

  nav .home li:first-child {
    border-left: 0;
  }

  nav .home {
    padding-bottom: 0;
    flex-grow: 1;
  }

  nav .home ul {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
  }

  nav .user-section {
    position: unset;
    padding-left: 15%;
    height: unset;
  }

  nav .user-section img {
    margin-right: 0;
  }


  /* Right */
  .right-section, header {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
}