/* Utils */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.navbar {
  background-color: #000;
  min-height: calc(100vh - 100px);
}

.right-section {
  background-color: #141922;
  min-height: 500px;

}

.footer {
  background-color: #282828;
  min-height: 100px;
  position: fixed;
  bottom: 0;
}


/* Header */
header {
  min-height: 100px;
  line-height: 100px;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  z-index: 1;
  width: calc(100% / 12 * 10);
  max-width: calc(100% / 12 * 10);
}

header a {
  text-decoration: none;
  color: white;
  padding: 10px 50px;
}

.upgrade-button {
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 10px 0;
  margin-right: 10px;
}

/* Nav */
nav {
  height: 100%;
  background-color: #000;
  padding: 0 20px;
  position: relative;
  overflow-y: auto;
}

nav a {
  color: #6e6e6e;
  text-decoration: none;
  vertical-align: middle;
}

nav h3 {
  text-transform: uppercase;
  padding: 10px 0;
}

nav li {
  padding-bottom: 10px;
  list-style-type: none;
}

nav img[alt=logo] {
  width: 80%;
  line-height: 100px;
  height: 100px;
}

nav .home img {
  width: 15%;
  vertical-align: middle;
  padding-right: 5px;
}

nav .playlist i {
  color: #000;
  padding: 10px;
  background-color: #6e6e6e;
  margin-right: 10px;
}

nav img[alt=download] {
  width: 13%;
  vertical-align: middle;
  color: #141922;
}

nav img[alt=profile] {
  width: 13%;
  vertical-align: middle;
  background-color: #808080;
  border-radius: 50%;
}

nav .playlist {
  text-transform: capitalize;
}

.user-section {
  position: absolute;
  bottom: 0;
}

.user-section img {
  margin: 10px 0;
  margin-right: 10px;
}

.user-section hr {
  margin-right: 15px;
}

.user-section #down {
  color: #6e6e6e;
}



/* Footer */
.footer img {
  width: 25%;
}

.artist {
  display: inline-block;
}

.left-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding-left: 10px;
}

.central-footer {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.right-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding-right: 10px;
}

.vol-bar {
  height: 5px;
  width: 100px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  display: inline-block;
}

.actual-vol {
  height: 100%;
  width: 25%;
  border-radius: 50px;
  background-color: #c1c1c1;
}

.player {
  justify-content: center;
}

.prog-bar {
  height: 5px;
  width: 400px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  display: inline-block;
  vertical-align: middle;
}

.actual-prog {
  height: 100%;
  width: 30%;
  border-radius: 50px;
  background-color: #c1c1c1;
}





main {
  background-color: #141922;
}
