/* Generic */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: hidden;
}

.container-fluid {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
}

.left-section {
  background-color: #000;
  min-height: calc(100vh - 80px);
  width: 230px;
  max-width: 230px;
}

.right-section {
  background-color: #141922;
  height: calc(100vh - 80px);
  width: calc(100% - 230px);
  max-width: calc(100% - 230px);
  overflow-y: auto; 
}

.footer {
  background-color: #282828;
  width: 100%;
  min-height: 80px;
  position: fixed;
  bottom: 0;
}



/* Right-section */
/* Header */
header {
  height: 80px;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  z-index: 1;
  width: calc(100% - 230px);
  max-width: calc(100% - 230px);
}

header a {
  text-decoration: none;
  color: white;
  padding: 10px 50px;
}

.upgrade-button {
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 10px 0;
  margin: 25px;
  display: inline-block;
}

.upgrade-button:hover{
  transform: scale(1.1);
}


/* Right-section */
/* Main */
main {
  margin-top: 80px;
  margin-bottom: 40px;
}

main .main-title {
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
}

main .main-title a {
  text-decoration: none;
  color: #6e6e6e;
  margin-right: 10px;
  display: inline-block;
}

main .main-title a:hover {
  color: white;
}

main .main-title a:first-child::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 40px;
  padding-top: 2px;
  border-bottom: 2px solid #adff2f;
}

main img {
  width: 90%;
}

main .imagine {
  position: relative;
}

main .imagine i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

main .card div {
  text-align: center;
}

main .card {
  padding-top: 20px;
}

main .card a {
  color: white;
}

main .card img:hover {
  filter: opacity(0.5);
}

main .card .imagine:hover i{
  visibility: visible;
}

main .card [class=genre] {
  font-weight: 600;
  padding-top: 15px;
}

main .card [class=sub] {
  color: #6e6e6e;
  font-size: 0.8rem;
  padding-top: 5px;
}

main h2 {
  padding-top: 40px;
  padding-left: 10px;
}

main h4 {
  color: #6e6e6e;
  padding-top: 5px;
  padding-left: 10px;
}

main img[alt=youg],
main img[alt=einaudi] {
  border-radius: 50%;
}

/* Left-section */
/* Navbar */
nav {
  height: 100%;
  background-color: #000;
  padding: 0 20px;
  position: relative;
}

nav a {
  color: #6e6e6e;
  text-decoration: none;
  vertical-align: middle;
  height: fit-content;
}

nav h3 {
  text-transform: uppercase;
  padding: 10px 0;
}

nav li {
  padding-bottom: 10px;
  list-style-type: none;
}

nav img[alt=logo] {
  width: 80%;
  line-height: 80px;
  height: 80px;
}

nav img[alt=logo-small] {
  display: none;
  margin: 5px auto;
}

nav .home svg {
  width: 15%;
  vertical-align: middle;
  padding-right: 5px;
}

nav a:hover {
  color: white;
}

nav a:hover path {
  fill: white;
}

nav .home li:first-child {
  border-left: 3px solid #adff2f;
  margin-left: -20px;
  padding-left: 17px;
}

nav .home .highlighted {
  color: white; 
}

nav .playlist {
  text-transform: capitalize;
}

nav .playlist .list-scroll {
  padding-top: 10px;
  overflow-y: auto;
  height: calc(100vh - 415px);
} 

nav .playlist i {
  color: #000;
  padding: 10px;
  background-color: #6e6e6e;
  margin-right: 10px;
}

nav .playlist a:hover i {
  background-color: white;
}

nav img[alt=download] {
  width: 20px;
  vertical-align: middle;
  color: #141922;
}

nav img[alt=profile] {
  width: 30px;
  height: 29px;
  vertical-align: middle;
  background-color: #808080;
  border-radius: 50%;
}


.user-section {
  position: absolute;
  bottom: 0;
  background-color: black;
  height: 90px;
  width: 90%;
}

.user-section img {
  margin: 10px 0;
  margin-right: 10px;
}

.user-section hr {
  margin-right: 20px;
}

.user-section a {
  color: #6e6e6e;
  text-decoration: none;
}

.user-section a:hover {
  color: white;
}


/* Footer */
.footer > .row {
  flex-wrap: nowrap;
}

.left-footer {
  display: flex;
  align-items: center;
  height: 80px;
  padding-left: 5px;
}

.left-footer a {
  color: #6e6e6e;
  text-decoration: none;
}

.left-footer img {
  width: 50px;
}

.left-footer .artist {
  display: inline-block;
  margin-left: 5px;
}

.left-footer .favorites {
  margin-left: 10px;
}

.left-footer a:hover {
  color: white;
  text-decoration: underline;
}

.central-footer {
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
}

.central-footer a,
.right-footer a {
  color: white;
  text-decoration: none;
}

.central-footer a .fa-play-circle:hover {
  transform: scale(1.4);
}

.player {
  display: flex;
  justify-content: space-around;
  width: 200px;
}

.circle {
  background-color: white;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  vertical-align: top;
  margin-top: -4px;
  margin-left: -6px;
  display: none;
}

.progress {
  width: 70%;
  min-width: 180px;
  display: flex;
}

.progress span:first-child {
  padding-right: 10px;
}

.progress span:last-child {
  padding-left: 10px;
}

.progress a {
  width: 100%;
}

.prog-bar {
  height: 5px;
  width: 100%;
  border-radius: 50px;
  background-color: #5a5a5a;
  display: inline-block;
  vertical-align: middle;
}

.actual-prog {
  height: 100%;
  width: 20%;
  border-radius: 50px;
  background-color: #c1c1c1;
  display: inline-block;
  vertical-align: top;
}

.right-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding-right: 5px;
  width: 200px;
}

.vol-bar {
  height: 5px;
  width: 100px;
  border-radius: 50px;
  background-color: #5a5a5a;
  display: inline-block;
  vertical-align: middle;
}

.actual-vol {
  height: 100%;
  width: 20%;
  border-radius: 50px;
  background-color: #c1c1c1;
  display: inline-block;
  vertical-align: top;
}

.volume a:hover .actual-vol,
.progress a:hover .actual-prog {
  background-color: #adff2f;
}

.progress a:hover .circle,
.volume a:hover .circle {
  display: inline-block;
}

@media screen and (max-width: 575px) {
  .left-section {
    width: 50px;
    max-width: 50px;
  }

  .right-section {
    width: calc(100% - 50px);
    max-width: calc(100% - 50px);
  }

  header {
    width: calc(100% - 50px);
    max-width: calc(100% - 50px);
  }

  nav {
    padding: 0 5px;
  }

  nav img[alt=logo] {
    display: none;
  }

  nav img[alt=logo-small] {
    display: block;
    width: 30px;
  }

  nav .home ul {
    padding-top: 8px;
  }

  nav .home svg {
    display: block;
    margin: 0 auto;
    padding-right: 0;
    width: 26px;
  }

  nav .home span,
  nav .playlist,
  nav .user-section span,
  nav .user-section hr {
    display: none;
  }

  .user-section {
    width: auto;
  }

  .user-section img{
    margin: 10px auto;
  }

  nav .user-section img[alt=download]{
    display: block;
  }

  nav .user-section img[alt=profile]{
    display: block;
    margin-left: 5px;  
  }

  .left-footer img {
    width: 40px;
  }

  .left-footer .artist {
    width: 60px;
  }

  .left-footer .favorites {
    width: 20px;
  }
}